@media screen and (max-width: 414px) {
    .banner img{
        display: none;
    }

    .wrapper{
        width: auto;
    }

    .title{
        width: 414px;
        /* display: none; */
    }

    .title h1{
        font-size: 22px;
        margin-bottom: 90px;
    }

    .title h1::before,.title h1::after{
        width: 100px;
    }

    .title h1::before{
        top: 14px;
    }

    .title h1::after{
        top: 14px;
    }

    .box{
        /* display: none; */
        width: 380px;
        flex-direction: column;
        padding: 40px 20px;
    }

    .pic{
        width: 300px;
        margin-bottom: 40px;
    }

    .content p{
        width: auto;
        font-size: 15px;
        line-height: 2.5;
    }
}